<% provide(:title) %>

<div class="center hero-unit">
    <h1>Python Trek</h1>
    <h2>Want to generate a randome tweet mashup between Monty Python and Star Trek? Press the button below.</h2>
     <%= link_to "Tweet!", '#', class: "btn btn-large btn-primary" %>

    <%= form_for (@tweet = Tweet.new, :url => user_tweet_path) do |tweet_form| %>
      <%= tweet_form.text_area :tweet_content, :id => "tweet" %>
      <%= tweet_form.submit "Tweet" %>
    <% end %>
</div>