<% provide(:title) %>

<div class="center hero-unit">
    <h1>Python Trek</h1>
    <h2>Want to generate a randome tweet mashup between Monty Python and Star Trek? Press the button below.</h2>
     <%= link_to "Tweet!", '#', class: "btn btn-large btn-primary" %>
<!--      pull response from twitter api on rate limit and use that to limit button - if then hit tweet limit stop showing button -->
</div>